.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", serif;
}

/* Header and Nav */
.logo img{
    width: 50px;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: #3a3a3a;
    display: inline-block;
}
li a::after{
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition: all .5s;
}

li a:hover::after{
    width: 100%;
}
/*Section*/
section {
    display: flex;
    height: calc(100vh-100px);
    align-items: center;
    justify-content: center;
}
.hero-img{
    max-width: 670px;
    height: auto;
}
.content-left{
    width: 30%;
}
section h1{
    font-size: 54px;
    color: #13384f;
    text-transform: uppercase;
}
section h2{
    font-size: 25px;
    color: #FCA70C;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}
section p{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}